<body class="background-primary">
  <div class="container-fluid">
    <h2 class="h2-responsive" id="h2llama">Welcome to Llama Store!</h2>
    <br>
    <br>
    <h3 class="h3-responsive" id="h3llama">Our Mission</h3>
    <p id="pllama">
      We aim to produce the highest quality of llama products in the world. Our store is committed to promoting 
      sustainable living around the world. 
    </p>
    <p>
      <a class="btn btn-lg btn-success" routerLink="/buy">Buy</a>
    </p>  
    <br>
    <br> 
    <h3 id="h3llama">Who Are We?</h3>
    <p id="pllama">
      The Llama Store is an online store which sells only llama based products.
      Our products are made from well-treated llamas domesticated by sustinance farmers 
      in the highlands of Peru. We work with our producers (Peruvian farmers) to promote healthy agricultural practices.
      Every dollar from your purchase goes to the GreenPeace Organization.
    </p>
  </div>
</body>