<body class="background-accent">
  <div class="container-fluid">
    <h2 id="h2other">About Us</h2>
    <br>
    <h3 id="h3other">Our Products</h3>
    <p id="pother">We currently offer three items:</p> 
    <ul id="pother">
      <li>Llama wool clothes: llama wool is light, warm and water-repellent.</li>
      <li>Llama "beans" (poop): Beans are very good fertilizer that Peruvian farmers use in their farms.</li>
      <li>Llama yarn: yarn made from llama fiber is soft and lightweight, yet remarkably warm.</li>
    </ul>
    <br>
    <h3 id="h3other">Founder</h3>
    <p id="pother">
      Hello! I am Susmita Padala, the owner of this store. I started this company because I want to take 
      "Llama Power" globally. Little bit about me:
    </p>
    <ul id="pother">
      <li>I love llamas but I love tigers even more!</li>
      <li>I have lived in two different countries and am a global citizen</li>
      <li>I have a strong aversion to the cold; the sun is my best friend</li>
      <li>I can't stop laughing once I start</li>
      <li>I write poetry</li>
    </ul>
    <p id="pother">
      Thanks for shopping with us!
    </p>
  </div>
</body>