<nav class="navbar navbar-default fixed-top" id="navbar-container">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">The Llama Store</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/llama"> Home  <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/facts"> Llama Facts </a></li>        
        <li><a routerLink="/me"> About Us </a></li>
        <li><a routerLink="/buy"> Buy </a></li>
      </ul>
    </div>
  </div>
</nav>
