<nav class="navbar navbar-default fixed-top" id="navbar-container">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="menutext1" routerLink="/">The Llama Store</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a id="menutext" routerLink="/llama"> Home  <span class="sr-only">(current)</span></a></li>
        <li class="active"><a id="menutext" routerLink="/facts"> Llama Facts <span class="sr-only">(current)</span></a></li>      
        <li class="active"><a id="menutext" routerLink="/me"> About Us <span class="sr-only">(current)</span></a></li>
        <li class="active"><a id="menutext" routerLink="/buy"> Buy <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
