<body class="background-accent">
  <div class="container-fluid">
    <h3 id="h3other">Llama Facts</h3>
    <br>
    <img id="factpic" src="https://1jux.net/scale_images/561708_fb.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    <ul id="pother">
      <li>Llamas are members of the camel family and domesticated by Indians in Peru.</li> 
      <li>Grow as much as 6 feet tall.</li>
      <li>If you try to overload a llama with too much weight, the llama is likely to lie down or simply refuse to move.</li>
      <li>In the Andes Mountains of Peru, llama fleece has been shorn and used in textiles for about 6,000 years.</li>
      <li>Llamas come in a range of solid and spotted colors including black, gray, beige, brown, white and red!</li>
      <li>They are social animals and prefer to live with other llamas or herd animals.</li>
      <li>Llamas don't bite. They spit when they're agitated, but that's mostly at each other.</li>
    </ul>
  </div>
</body>
