<body class="background-accent">
  <div class="container-fluid">
    <h3 id="h3other">Llama Facts</h3>
    <br>
    <img id="factpic" src="http://4.bp.blogspot.com/-N3dBly3Y4d0/UixIrXBOkJI/AAAAAAAABKM/5kn40v6KKuU/s1600/1238935_163516570509152_1650430708_n.jpg"class="img-rounded" alt="Cinque Terre" width="304" height="236">
    <ul id="pother">
      <li>Llamas are members of the camel family and domesticated by Indians in Peru.</li> 
      <li>Grow as much as 6 feet tall.</li>
      <li>If you try to overload a llama with too much weight, the llama is likely to lie down or simply refuse to move.</li>
      <li>In the Andes Mountains of Peru, llama fleece has been shorn and used in textiles for about 6,000 years.</li>
      <li>Llamas come in a range of solid and spotted colors including black, gray, beige, brown, white and red!</li>
      <li>They are social animals and prefer to live with other llamas or herd animals.</li>
      <li>Llamas don't bite. They spit when they're agitated, but that's mostly at each other.</li>
    </ul>
  </div>
</body>
  <!--h3>The Llama Flood Myth</h3>
  <br>
  <p>
    In the highlands of Peru there were two shepherd brothers who were of impeccable character. They became very concerned when their 
    llamas acted strangely. The llamas stopped eating and spent the night gazing sadly up at the stars. When the brothers asked the 
    llamas what was going on, they replied that the stars had told them that a great flood was coming that would destroy all creatures 
    on earth.
   
    The two brothers and their families decided to seek safety in the caves in the highest mountain. They took their flocks with 
    them into a cave and then it began to rain. It rained for months without end. Looking down from the mountains, they saw that 
    the llamas were right: The entire world was being destroyed. They could hear the cries of the miserable dying humans below. 
    Miraculously, the mountain grew taller and taller as the waters rose. Even so, the waters began to lap at the door of their cave. 
    Then the mountain grew still higher.
    
    One day they saw that the rain had ceased and "that the waters were subsiding. Inti, the sun-god, appeared once again and smiled, 
    causing the waters to evaporate. Just as their provisions were running out, the brothers looked down to see that the earth was dry. 
    The mountain then returned to its usual height, and the shepherds and their families repopulated the earth.
    
    Human beings live everywhere; llamas, however, remember the flood and prefer to live only in the highlands
  </p>--> 
