/* You can add global styles to this file, and also import other style files */
html{
    margin:0px;
    min-height:100%;
} 

h2, h3, p{
    margin:0px;
    padding-top:10px;
}

.container-fluid{
    margin-right: 10px!important;
    margin-left:10px!important;
}

.background-primary{
    background: url("https://img0.etsystatic.com/041/0/5254210/il_340x270.647372632_4z1c.jpg") no-repeat center center!important; 
    -webkit-background-size: cover!important; 
    -moz-background-size: cover!important; 
    -o-background-size: cover!important; 
    background-size: cover!important;
    margin:0px!important;
    min-height:100%!important;
} 

.background-accent{
    background: url("https://i.pinimg.com/originals/19/05/90/1905905b7dde2b169962746a7cea82e7.jpg") no-repeat center center!important; 
    -webkit-background-size: cover!important; 
    -moz-background-size: cover!important; 
    -o-background-size: cover!important; 
    background-size: cover!important;
    margin:0px!important;
    min-height:100%!important;
}

#h2llama{
    color: black;
    font-size:50px;
}

#h3llama{
    color: white;
    font-size:40px;
}

#pllama{
    color: white;
    font-size: 30px;
}

#h2other{
    color: black;
    font-size:50px;
}

#h3other{
    color: black;
    font-size:40px;
}

#pother{
    color: grey;
    font-size: 30px;
}

#factpic{
    float: right;
}

#navbar-container{
      right:0;
      left:0;
      margin:0;
      padding:0;
}

.addItem{
    position: relative;
    padding-bottom: 0px;
    height: 235px;
}

.addText{
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}

.addItem button{
    height: 45px;
    width: 50px;
    padding: 5px;
}

#formUl{
    list-style: none;
    font-size: 20px;
    color:#686868;
    margin-left: -40px;
    margin-bottom: 0px;
}

#formLi{
    border-bottom: 1px solid #bfbfbf;
    background-color: #d7d7d7;
    padding: 10px 0px;
    margin-bottom: 5px; 
}

#formSpan{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}

a, a:hover{
    cursor: pointer;
    text-decoration: none;
}